<launch>
    <node pkg="robot_arm" type="robot_arm" name="robot_arm" respawn="true" output="screen">
        <param name="elite_ip" value="192.168.100.200"/>
        <param name="elite_port" value="8055"/>
        <param name="elt_speed" value="10"/>
        <param name="print_level" value="debug"/>
        <param name="track_path" value="/home/ros/track/"/>
    </node>
</launch>
