<launch>
    <node pkg="robot_arm" type="robot_arm" name="robot_arm" respawn="true" output="log">
        <param name="node_name" value="robot_arm"/>
        <param name="check_receiver" value="0"/>
        <param name="elite_ip" value="192.168.100.201"/>
        <param name="elite_port" value="8055"/>
        <param name="timeout_len" value="60"/>
        <param name="elt_speed" value="25.0"/>
        <param name="rotate_speed" value="5"/>
        <param name="rotate_limit_angle" value="30"/>
        <param name="print_level" value="debug"/>
        <param name="track_path" value="/home/ros/track/"/>
        <param name="p_level" value="7"/>
        <param name="orbit_step" value="3.0"/>
        <param name="arm_origin" value="0,-150,130,-160,90,0"/>
        <param name="debug_teach" value="0"/>
        <param name="filter_value" value="20.0"/>
    </node>
</launch>
