<launch>
    <node pkg="robot_arm" type="robot_arm" name="robot_arm" respawn="true" output="log">
        <param name="node_name" value="robot_arm"/>
        <param name="check_receiver" value="0"/>
        <param name="elite_ip" value="192.168.100.201"/>
        <param name="elite_port" value="8055"/>
        <param name="timeout_len" value="60"/>
        <param name="elt_speed" value="10"/>
        <param name="rotate_speed" value="5"/>
        <param name="rotate_limit_angle" value="30"/>
        <param name="print_level" value="debug"/>
        <param name="track_path" value="/home/ros/track/"/>
    </node>
</launch>
